@use "../_modules/color" as *;
@use "../_modules/mixin" as *;
@use "../_modules/varable" as *;
@use "../_modules/setting" as *;
@use "../_modules/fonts" as *;


.l-front-fv {

  .custom-header {
    position: relative;
  }  
  .custom-header-description {
    position: absolute;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    font-size: 64px;
    white-space:nowrap;
    @include transform-xy-center();
  }
  
}

